@use 'variables' as *;

.nav {
    font-family: $main-font;
    display: flex;
    backdrop-filter: blur(16px);

    border: {
        top: none;
        left: none;
        bottom: 3px solid $fg;
        right: 3px solid $fg;
    }

    * {
        display: flex;
        align-items: center;
    }
}

.logo {
    height: 5rem;
}

.link {
    font-size: 18pt;
    color: $fg;
    text-decoration: none;

    padding: 1rem;

    &:hover {
        background-color: $fg;
    }
}